.body-element-1{
	
	/* border:1px solid red; */
	width:100%;

}
.body-element-1 .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.body-element-1  .search-box-outliner{
	
	/* border:1px solid red; */
	width:80%;

}

.body-element-1  .search_wrap{
	/* border:1px solid red; */
	/* margin: 38px auto; */
	float: right;
	margin-bottom: 40px;
}


.body-element-1 .search_wrap .search_box{
	position: relative;
	width: 400px;
	height: 60px;
}

.body-element-1 .search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.body-element-1 .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: rgba(20, 75, 255, 1.0);
	z-index: 1;
	cursor: pointer;
}

.body-element-1 .search_wrap .search_box .btn:hover{
	background-color: rgb(74, 166, 253);
	transition: all .8s;
}

.body-element-1 .search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


.body-element-1 .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}


.body-element-1 .search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.body-element-1 .search_wrap.search_wrap_3 .search_box .input{
	border-radius: 50px;
}

.body-element-1 .search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}




.body-element-1 .tradingpage-part-container{
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	/* height:100px; */
}

.body-element-1 .tradingpage-part-container .tradingpage-part-row{
	
	/* border:1px solid blue; */
	width:84%;
	/* height:100%; */
	/* display:flex; */
	padding:0px;
	margin:15px 0px;
	
	justify-content:center;
}


.body-element-1 .tradingpage-part-container .tradingpage-part-row .trading-page-holder{
	
	/* border:1px solid blue; */
	/* display:flex; */
	
	/* width:100%; */
}

.body-element-1 .tradingpage-part-container .tradingpage-part-row .trade-pages:first-child{

	/* border:1px solid blue; */
	border-radius:7px 0px 0px 7px;
}

.body-element-1 .tradingpage-part-container .tradingpage-part-row .trade-pages:last-child{

	/* border:1px solid blue; */
	border-radius:0px 7px 7px 0px;
}


.body-element-1 .tradingpage-part-container .tradingpage-part-row .trade-pages{
	
	border:1px solid rgba(20, 75, 255, 1.0);;
	padding:2px 18px;
	
	font-weight:bold;
	float:left;
}

.body-element-1 .tradingpage-part-container .tradingpage-part-row .trade-pages:hover{
	
	cursor:pointer;
}


.body-element-1 .tradingpage-part-container .tradingpage-part-row .active-trade-pages{
	
	/* border:1px solid red; */
	/* padding:1px 18px; */
	background-color:rgba(20, 75, 255, 1.0);;
	color:white;
	/* border-radius:7px; */
}

















/* trading boxes.................................................................................................... */
.body-element-1 .trading-part-container{
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	
}

.body-element-1 .trading-part-container .trading-part-row{
	
	/* border:1px solid red; */
	width:84%;
	
	padding:0px;
	margin:35px 0px;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts{
	
	/* border:1px solid blue; */
	/* height:200px; */
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	margin:15px 0px;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box{
	
	border:2px solid #eae7e0de;
	/* height:100%; */
	width:90%;
	
	padding:5px;
	border-radius:10px;
	background-color:#e2e2e293;
	
	transition:all 0.5s;
}

.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box:hover{
	
	cursor:pointer;
	background-color:#EAE7E0;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-label{
	/* border:1px solid red; */
	/* height:100%; */
	/* width:100%; */
	/* margin:0px; */
	
	display:flex;
}

.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-label .only-label{ 
	/* border:1px solid red; */
	/* height:100%; */
	/* width:100%; */
	margin-left:5px;
	/* padding:0px; */
	font-size:12px;
	padding:0px 6px;
	border-radius:5px;
	background-color:white;
}

.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-img{
	/* border:1px solid red; */
	/* height:100%; */
	width:100%;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	margin-top:50px;
	margin-bottom:15px;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-img .fa-user{
	font-size:50px;
	padding:30px;
	
	/* border:1px solid red; */
	border-radius:50%;
	margin:10px;
	
	background-color:white;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-heading{

	/* height:100%; */
	width:100%;
	font-size:12px;
	color:#4F4F4F;
	letter-spacing:.05rem;
	/* font-weight:600; */
	/* padding:5px; */
	
	/* border:1px solid red; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-text{

	width:100%;
	font-size:17px;
	font-weight:700;
	/* padding:5px; */
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	margin-bottom:7px;

	color: rgba(0, 0, 0, 0.644);
    text-decoration: none;
    background-color: transparent;
}


.body-element-1 .trading-part-container .trading-part-row .trading-parts .trading-box .trading-price{

	width:100%;
	font-size:14px;
	font-weight:600;
	/* padding:5px; */
	color:#4F4F4F;
	display:flex;
	justify-content:center;
	align-items:center;
	
	margin-bottom:5px;
}






.body-element-1 .about-part-container{
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	background-color:#fbf8f2d0;
}

.body-element-1 .about-part-container .about-part-row{
	
	/* border:1px solid red; */
	width:96%;
	
	padding:0px;
	margin:20px 0px;
}


.body-element-1 .about-part-container .about-part-row .about-parts{
	
	/* border:1px solid blue; */
	/* height:200px; */
	
	display:flex;
	justify-content:center;
	/* align-items: center; */
	margin:15px 0px;
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box{
	
	/* border:1px solid red; */
	width:90%;
	padding:10px;
}


.body-element-1 .about-part-container .about-part-row .about-parts .about-box .about-title{
	
	/* border:1px solid red; */
	font-size:20px;
	font-family: "Nunito", sans-serif;
	font-weight:600;
	
	display:flex;
	/* justify-content:center; */
	/* align-items: center; */
	
	padding:5px;
	
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .about-title .fa-circle{
	
	color:rgba(20, 75, 255, 1.0);;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}


.body-element-1 .about-part-container .about-part-row .about-parts .about-box .about-title .fa-info-circle{
	
	color:#49ACE8;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .about-title .fa-address-book{
	
	color:#494BE8;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}


.body-element-1 .about-part-container .about-part-row .about-parts .about-box .about-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	/* font-weight:600; */
	padding:5px;
	
}


.body-element-1 .about-part-container .about-part-row .about-parts .about-box .information-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	font-weight:600;
	padding:3px 4px;
	margin-left:10px;
	
	/* color:#494D4D; */
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .information-des .fa-dot-circle{
	
	margin-right:5px;
	
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .information-des a{
	
	text-decoration:none;
	color:#494D4D;
	/* border:1px solid red; */
	transition:all 0.5s;
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .information-des a:hover{
	
	color:#0068FF;
}



.body-element-1 .about-part-container .about-part-row .about-parts .about-box .contact-title{
	
	/* border:1px solid red; */
	margin-bottom:15px;
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .contact-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	font-weight:600;
	padding:3px 4px;
	margin-left:10px;
	
	color:#3B3D3D;
	display:flex;
	margin-top:2px;
}

.body-element-1 .about-part-container .about-part-row .about-parts .about-box .contact-des .fa-map-marked-alt{
	
	/* border:1px solid red; */
	display:flex;
	transform:translate(0%,8%);
}


.body-element-1 .about-part-container .about-part-row .about-parts .about-box .contact-des .fass{
	
	/* border:1px solid red; */
	display:flex;
	justify-content:center;
	align-items: center;
}



.body-element-1 .about-part-container .about-part-row .about-parts .about-box .contact-des .des-only{
	
	/* border:1px solid red; */

}



.body-element-1 .copyright-holder{
	
	/* border:1px solid red; */
	/* width:120%; */

}

.body-element-1 .copyright-holder .copyright-box{
	
	/* border:1px solid red; */
	/* width:100%; */
	/* width:120%; */
	
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	font-family: "Nunito", sans-serif;
	font-size:14px;
	
	padding:15px 0px;
	
	background-color:#F9F0E0;
}




.body-element-1 .learnmore-part-container{
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	/* height:100px; */
	/* background-color:#EEEBEB; */
}

.body-element-1 .learnmore-part-container .learnmore-part-row{
	
	/* width:84%; */
	padding:0px;
	margin:20px 0px;
	/* border:1px solid red; */
	justify-content:center;
}


.body-element-1 .learnmore-part-container .learnmore-part-row .learnmore-page-holder a{
	
	/* border:1px solid blue; */
	/* display:flex; */
	font-size:16px;
	font-weight:bold;
	color:rgba(20, 75, 255, 1.0);;
	text-shadow: 1px 1px 0px #f8f8f8;
	/* width:100%; */
	
	text-decoration:none;
	transition:all 0.5s;
}

.body-element-1 .learnmore-part-container .learnmore-part-row .learnmore-page-holder a:hover{
	
	color:#ffffff;
	text-shadow: 1px 1px 0px #353535;
}

.body-element-1 .learnmore-part-container .learnmore-part-row .learnmore-page-holder .fa-chevron-circle-right{
	
	/* border:1px solid blue; */
	/* display:flex; */
	font-size:16px;
	font-weight:bold;
	
	transform:translate(0%,7%);
}

























































































