

body{
	background-color:#ECECEC;
}

.header-image{
	
	/* background: url(../img/1.jpg) no-repeat center center / cover; */
	/* border:1px solid red; */
	/* height:500px; */
	width:100%;
	
	z-index:1;
	/* margin-top:-90px; */

	/* background-color:#FAEBF2; */
	/* background-color:#ECECEC; */
	background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/gear.gif) no-repeat center center / cover;

	
	margin:0px;
	padding:0px;

	display:flex;
	justify-content:center;
	align-items: center;
	
	padding-top:10px;
}

.header-image .header-body{
	
	/* height:100%; */

	/* background:rgba(0, 0, 0, 0.3); */
	/* backdrop-filter:blur(4px); */
	
	color:orange;
	/* font-size:50px; */
	
	margin:0px;
	padding:0px;
	
	width:40%;
	
	/* border:1px solid red; */
	margin-bottom:100px;
}













.header-image .header-body .right-col{
	
	/* height:100%; */
	margin-top: 40px;
	/* border:1px solid red; */
	background-color: #b6f1eaa8;
	border-radius: 30px;
	padding: 60px;

	display:flex;
	justify-content:center;
	align-items: center;

}

.header-image .header-body .right-col .box-holder-2{

	/* width:100%; */
	/* border:1px solid red; */
	border-radius:15px;
	
	padding:10px;
	
}

.header-image .header-body .right-col .log-box-1{
	
	/* border:1px solid blue; */
	/* color:red; */
	font-weight:700;
	font-size:25px;
	color:#2E2E2E;
	
	margin-bottom:15px;
}

.header-image .header-body .right-col .log-box-2{
	
	/* border:1px solid red; */
	font-size:14px;
	color:#404040;
	
	margin-bottom:20px;
}

.header-image .header-body .right-col form{
	
	/* border:1px solid red; */
	width:100%;
	max-width:500px;
	/* display:flex; */
	justify-content:center;
	align-items: center;
}


.header-image .header-body .right-col form label{
	
	/* border:1px solid red; */
	font-size:14px;
	color:black;
	width:100%;
	margin-bottom:0px;
}

.header-image .header-body .right-col form .input-box{
	
	
	font-size:14px;
	color:#404040;

	width:100%;
	
	border:none;
	/* border:1px solid red; */
	
	/* border-radius:6px; */
	/* margin:0px; */
	margin-bottom:5px;
	padding:5px 10px;
}




.header-image .header-body .right-col form .term-agree{
	
	/* border:1px solid red; */
	font-size:14px;
	color:#404040;
	font-weight:bold;
	width:100%;
	
	border-radius:6px;
	
	margin-top:80px;
	margin-bottom:15px;
}

.header-image .header-body .right-col form .term-agree a{
	
	color:rgba(20, 75, 255, 1.0);
	/* border:1px solid red; */
}



.header-image .header-body .right-col form .signup-sec{

	/* border:1px solid yellow; */
	display:flex;
	
	
}


.header-image .header-body .right-col form .signup-sec .signup-button{
	
	background-color:rgba(20, 75, 255, 1.0);;
	color:white;
	padding:8px 15px;
	font-weight:600;
	/* width:300px; */
	/* display:block; */
	/* display:inline-block; */
	
	border-radius:6px;
	/* border:1px solid red; */
	border:none;
	float:left;
}

.header-image .header-body .right-col form .signup-sec .signup-button:hover{
	
	color:black;
	transition:all .5s;
	
}

.header-image .header-body .right-col form .signup-sec .signup-info{

	color:rgba(20, 75, 255, 1.0);
	display:flex;
	justify-content:center;
	align-items: center;
	
	font-size:14px;
	
	/* border:1px solid blue; */
	position:relative;
	/* margin-left:200px; */
	/* min-margin-left:50px; */
	/* float:right; */
	width:100%;
	/* text-align: right; */
	
	/* float:right; */
}

.header-image .header-body .right-col form .signup-sec .signup-info a{

	color:rgba(20, 75, 255, 1.0);
	display:flex;
	position:absolute;
	/* display:flex; */
	/* justify-content:center; */
	/* align-items: center; */
	
	/* width:100%; */
	/* text-align: right; */
	
	/* border:1px solid red; */
	/* height:15px; */
	/* float:right; */
	right:0%;
}

.header-image .header-body .right-col form .signup-sec .signup-info .fa-info-circle{

	color:rgba(20, 75, 255, 1.0);
	display:flex;
	
	font-size:14px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	/* border:1px solid red; */
	
	transform:translate(0%,15%);
	margin-right:5px;
	/* height:100%; */
}






































































