<div class="container-fluid about-part-container">
    <div class="row about-part-row">
        
        <div class="col-lg-4 about-parts">
            <div class="about-box">
                <div class="about-title"><i class="fas fa-circle"></i>Automated Stock Trading</div>
                
                <div class="about-des">
                    This system is based on Malaysian stock trading market. Here users can easily buy/invest in Malaysian stock market. By implementing a deep learning approach this can monitor the stock market and help users to make many convenient ways for trading.
                </div>
            
            </div>
        </div>
        
        <div class="col-lg-4 about-parts">
            <div class="about-box">
                <div class="about-title"><i class="fas fa-info-circle"></i>Informations</div>
                
                <div class="information-des">
                    <a href="/terms_and_condition"><i class="fas fa-dot-circle"></i>Terms & Conditions</a>
                </div>
                
                <div class="information-des">
                    <a href="/privacy_policy"><i class="fas fa-dot-circle"></i>Privacy Policy</a>
                </div>
            
            </div>
        </div>
        
        <div class="col-lg-4 about-parts">
            <div class="about-box">
                <div class="about-title contact-title"><i class="fas fa-address-book"></i>Contacts</div>
                
                <div class="contact-des">
                    <i class="fas fa-map-marked-alt"></i>&nbsp;<div class="des-only">Address: Wilayah Persekutuan, 55100, Malaysia</div>
                </div>
                
                <div class="contact-des">
                    <i class="fas fa-phone-square-alt fass"></i>&nbsp;<div class="des-only">Phone: 03-888 705 770</div>
                </div>
                
                <div class="contact-des">
                    <i class="fas fa-envelope fass"></i>&nbsp;<div class="des-only">Email: ast@gmail.com</div>
                </div>
                
            </div>
        </div>
        
        
        
        
    </div>

</div>
