<!DOCTYPE html>
<html lang="en">
{% if request.session.Email and request.session.User %}
<meta http-equiv="REFRESH" content="0;url=/user_page">
{% endif %}
{% load static %}

<head>
   {% comment %} Required meta tags {% endcomment %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

	{% comment %} Bootstrap CSS {% endcomment %}
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/signup.css' %}" rel="stylesheet">
	<link href="{% static 'css/signup_body.css' %}" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&amp;family=Playfair+Display:wght@400;700&amp;display=swap" rel="stylesheet">
	
   {% comment %} font-awesome v6 {% endcomment %}
   <link href="{% static 'fontawesome_web/css/all.css' %}" rel="stylesheet">

   
   <title>Automated Stock Trading</title>
   <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" sizes="16x16">
   
</head>

<body>

	 <!-- Error -->
	 <div id="content">{% include 'messages.html' %}</div>
 	<!-- End Error --> 

	<div class="container-fluid">
		<div class="row">
			
			<div class="main-gate" id="main_gate">
				<div class="gate-left" id="gate_left">
					<div class="locker" id="lock_part_1"></div>
				</div>
				
				<div class="gate-right" id="gate_right">
					<div class="locker" id="lock_part_2"></div>
					<div class="locker-center" id="lock_part_3"></div>
				</div>
			</div>
			
			
			<div class="nav-holder">
				
				<div class="logo"><img src="{% static 'img/favicon.png' %}" alt="" height="80px" width="110px">Automated Stock Trading</div>
			
				<div class="nav-bar">
					<ul class="main-menu">
						<li class="main-menu-li"><div class="nav-custom"><a href="/"> Home</a></div></li>
						<li class="main-menu-li"><div class="nav-custom"><a href="/login"> Login</a></div></li>
						<li class="main-menu-li"><div class="nav-custom"><a href="/signup" class="active-menu"> Signup</a></div></li>
						
						</li>
					</ul>
				</div>
				
			</div>
			
			
			<div class="container-fluid header-image">
			
				<div class="row header-body">
					
					<div class="col-lg-4 left-col">
						<div class="box-holder">
							<div class="info-box-1">JoinUs</div>
							<div class="info-box-2">RM 0<span>/year</span></div>
							<div class="info-box-3">Save & Invest your money</div>
							
							<div class="info-box-border"></div>
							
							<div class="info-box-4"><i class="fas fa-check-circle"></i>Regulated</div>
							<div class="info-box-4"><i class="fas fa-check-circle"></i>Security</div>
							<div class="info-box-4"><i class="fas fa-check-circle"></i>User Privacy</div>
							
							<div class="info-box-border"></div>
							
							<div class="info-box-5">Why Join</div>
							
							<div class="info-box-6"><i class="fas fa-circle"></i>Personal information</div>
							<div class="info-box-6"><i class="fas fa-circle"></i>Marketing preferences</div>
							<div class="info-box-6"><i class="fas fa-circle"></i>Best sellers</div>
							
						</div>
					</div>
					
					<div class="col-lg-8 right-col">
						<div class="box-holder-2">
							<div class="log-box-1">Signup</div>
							
							<form action="#" method="POST">
								{% csrf_token %}
								<label for="">Name</label>
								<input class="input-box" type="text" name="user_name"/>
								
								<label for="">Email</label>
								<input class="input-box" type="email" name="user_email" oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);"/>
								
								<label for="">Password</label>
								<input class="input-box" type="password" name="user_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"/>
								
								<label for="">Phone</label>
								<input class="input-box" type="tel" name="user_phone" required/>
								
								<label for="">Date of birth</label>
								<input class="input-box" type="date" name="user_dob" required/>
								
								<label for="">Profession</label>
								<input class="input-box" type="text" name="user_profession" required/>
								
								<label for="">Address</label>
								<input class="input-box" type="text" name="user_address" required/>
								
								<div class="term-agree"><input required type="checkbox" name="term_agree" value="agree" style="margin-right:5px;" title="Must accept our terms & conditions">ACCEPT <a href="/terms_and_condition">TERMS & CONDITIONS</a></div>
								
								<div class="signup-sec">
									<input class="signup-button" type="submit" value="SIGNUP"/>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


   	<!-- JavaScript   -->
	<script type="text/javascript" src="{% static 'script/jquery-3.5.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'script/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'script/sweetalert.min.js' %}"></script>
   
   	<!-- this is for alert showing -->
	<script type="text/javascript" src="{% static 'script/alert.js' %}"></script>

	<script>
        function InvalidMsg(textbox) {
  
            if (textbox.value === '') {
                textbox.setCustomValidity
                      ('Entering an email-id is necessary!');
            } else if (textbox.validity.typeMismatch) {
                textbox.setCustomValidity
                      ('Please enter an email address which is valid!');
            } else {
                textbox.setCustomValidity('');
            }
  
            return true;
        }
    </script>




</body>

</html>
